<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/user-style/forgot.css">
    <title>forgot password</title>
</head>
<body class="body" >

    <div class="main-container">

      <div  class="box-1" >
        <img class="img" src="/img/bg.png" alt="">
      </div>

      <div class="box-2">
   
     <div class="container">
      <h2 class="head">forgot password</h2>   
        <form  class="form" action="/user/forgot-password-controller" method="post">
            
            <div class="form-group" >
                <label for="name">Enter register email/ mobile number.</label>
                <input class="input" type="text" id="email" name="email" placeholder=" email or mobile no." required autocomplete="off">

            </div>
            <button type="submit" class="submit-btn">Send OTP</button>
        </form>
        <p class="bottom"><a href="/user/login">Back to login</a></p>
        </div>
    </div>

    </div>
    
</body>
</html>
</div>