<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/user-style/register.css">
       <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
       <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


    <title>Sign up</title>
</head>
<body class="body" >

    <div class="main-container"></div>

          <div  class="box-1" >
        <img class="img" src="/img/bg.png" alt="">
      </div>
   <div  class="box-2" >
    <div class="container">
      <h2 class="head">Sign up</h2> 
        <form  class="form" action="/register" method="post">

            <div class="form-group" >
                <label for="name">Name</label>
                <input class="input" type="text" id="name" name="name" placeholder="Enter your name" required autocomplete="off">
            </div>
            
            <div class="form-group" >
                <label for="name">Email</label>
                <input class="input" type="text" id="email" name="email" placeholder="Enter your email" required autocomplete="off">
            </div>

            <div class="form-group password-box">
                <label for="password">Password</label>
                <i class="fa-solid fa-eye toggle-password" onclick="togglePassword()"></i>
                <input class="input" type="password" name="password" id="password" placeholder="password" required>    
            </div>


            <div class="form-group" >
                <label for="name">Contacts</label>
                <input class="input" type="text" id="contact" name="contact" placeholder="Enter your contact" required autocomplete="off">
            </div>

            <div class="form-group" >
                <label for="name">Address</label>
                <input class="input" type="text" id="address" name="address" placeholder="Enter your address" required autocomplete="off">
            </div>

           
        </form>
         <button type="submit" class="submit-btn">Submit</button>
        <p class="bottom"><a href="login">Back</a></p>
    </div>
 </div>
 </div>

    
</body>
</html>
