<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/user-adminStyle/style.css"> -->

    <title>forgot password</title>
</head>
<body class="body" >
   
<div class="container">
      <h2 class="head">forgot password</h2> 
     <!-- <div class="form-container"> -->
        <form  class="form" action="/" method="post">
            
            <div class="email-group" >
                <label for="name">Enter register email/ mobile number.</label>
                <input class="input" type="text" id="email" name="email" placeholder=" email or mobile no." required autocomplete="off">

            </div>
            <button type="submit" class="submit-btn">Send OTP</button>
        </form>
        <p class="bottom"><a href="...">Back to login</a></p>
    </div>
    
</body>
</html>
</div>