<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/user-adminStyle/style.css"> -->

    <title>Login Customer</title>
</head>
<body class="body" >
   
<div class="container">
      <h2 class="head">User Login</h2> 
     <!-- <div class="form-container"> -->
        <form  class="form" action="/register" method="post">
            
            <div class="email-group" >
                <label for="name">Email</label>
                <input class="input" type="text" id="email" name="email" placeholder="Enter your email" required autocomplete="off">

            </div>
            <div class="password-group">
                <label for="password">Password:</label>
                <input class="input" type="password" name="password" id="password" placeholder="password" required>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p class="bottom">Don't have any account? <a href="signupPage">SignUp</a></p>
    </div>
    
</body>
</html>
</div>
    