<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/user-adminStyle/style.css"> -->

    <title>OTP verification</title>
</head>
<body class="body" >
   
<div class="container">
      <h2 class="head">Verify OTP</h2> 
     <!-- <div class="form-container"> -->
        <form  class="form" action="/" method="post">
            
            <div class="email-group" >
                <label for="name">Enter 6-digit code to email/ mobile number.</label>
                <input class="input" type="number" id="otp" name="otp" placeholder="" required autocomplete="off">

            </div>
            <button type="submit" class="submit-btn">Verify</button>
        </form>
        <p class="bottom"><a href="...">Change email / phone</a></p>

        <p class="bottom"><a href="...">Back to login</a></p>
    </div>
    
</body>
</html>
</div>