* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
  background: linear-gradient(168deg, #e5e5f7, #ebd7f0);
  min-height: 100vh;
  overflow-x: hidden;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* SIDEBAR */

.sidebar {
  width: 240px;
  background: #16182e;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.menu {
  list-style: none;
}

.menu li {
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 14px;
  transition: 0.3s;
}

.menu li a {
  color: white;
  text-decoration: none;
  display: block;
}

.menu li:hover {
  background: #2a2d4d;
}

.menu .active {
  background: #4e73df;
}

/* MAIN */

.main {
  flex: 1;
  padding: 30px;
  width: 100%;
}

/* TOPBAR */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

/* SEARCH */

.topbar input {
  padding: 10px 14px;
  width: 260px;
  border-radius: 14px;
  border: 1px solid #ccc;
}

/* BUTTON */

.add-btn {
  background: linear-gradient(135deg, #2563eb, #af1e85);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px;
}

/* CARD */

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.card h3 {
  margin-bottom: 20px;
}

/* TABLE */

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f1f3f7;
}

thead th {
  padding: 14px;
  font-size: 14px;
}

tbody td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  text-align: -webkit-center;
}

tbody tr:hover {
  background: #fafafa;
}

td img {
  border-radius: 14px;
  object-fit: cover;
}

/* ACTIONS */

.actions {
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.actions form {
  display: inline;
}

/* BUTTON BASE */

.btn {
  padding: 6px 12px;
  border-radius: 14px;
  font-size: 13px;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* EDIT */

.edit-btn {
  background: #f59e0b;
  margin-right: 15px;
}

.edit-btn:hover {
  background: #d97706;
}

/* DELETE */

.delete-btn {
  background: #ef4444;
  margin-left: 5px;
}

.delete-btn:hover {
  background: #dc2626;
}

/* MOBILE */

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .main {
    padding: 20px;
  }

  .topbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .topbar input {
    width: 100%;
  }
}

/* LARGE SCREEN (TV) */

@media (min-width: 1600px) {
  .main {
    padding: 60px;
  }

  table {
    font-size: 16px;
  }

  thead th,
  tbody td {
    padding: 18px;
  }
}

/* PAGEANATION */

/* active page */
.pagination {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.page-btn {
  padding: 8px 14px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  transition: all 0.25s ease;
}

/* hover effect */

.page-btn:hover {
  background: #333;
  color: #fff;
  border-color: #333;
}

/* active page */

.page-btn.active {
  background: #333;
  color: #fff;
  border-color: #333;
}

/* disabled button */

.page-btn.disabled {
  pointer-events: none;
  opacity: 0.4;
}

/* responsive */

@media (max-width: 768px) {
  .pagination {
    gap: 6px;
  }

  .page-btn {
    padding: 6px 10px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .pagination {
    gap: 5px;
  }

  .page-btn {
    padding: 5px 8px;
    font-size: 12px;
  }
}
