* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(316deg, #b1ebeb, #dbadc6);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* card */

.form-card {
  background: white;
  padding: 40px;
  width: 420px;
  border-radius: 14px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

.form-card h2 {
  font-size: 24px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

/* form */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input {
  padding: 12px;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s;
}

.form-group input:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
}

/* buttons */

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn {
  text-decoration: none;
  background: #eee;
  padding: 10px 18px;
  border-radius: 14px;
  color: #333;
  font-size: 14px;
}

.submit-btn {
  background: linear-gradient(135deg, #2563ebcc, #af1e85);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(37, 99, 235, 0.45);
}
