.body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.main-container {
  display: flex;
  height: 100vh;
}
.box-1 {
  flex: 1;
  background: #ececec;
}
.img {
  height: 100%;
  margin-left: 120px;
  display: flex;
}
.box-2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
}
.container {
  width: 400px;
  padding: 40px;
  margin-right: 60px;
  border-radius: 15px;
  background: #fcfcfc;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head {
  color: #8a8a8a;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  padding-bottom: 60px;
  font-size: 38px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}
.form {
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.form-group label {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  margin-bottom: 6px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #555;
  padding: 10px 0;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 12px;
  color: #333;
  outline: none;
}
.password-box {
  position: relative;
}
.toggle-password {
  position: absolute;
  right: 12px;
  top: 35px;
  cursor: pointer;
  color: #777;
}
.forgot {
  align-self: flex-end;
  font-size: 13px;
  margin-top: 8px;
  color: #444;
}
.forgot a {
  color: #444;
  text-decoration: none;
}
button {
  width: 40%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #c89a54;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
  /* material-style soft shadow */
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.15),
    0 6px 12px rgba(242, 42, 42, 0.25);

  cursor: pointer;
  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease,
    background-color 0.25s ease;
  box-shadow:
    0 6px 10px rgba(0, 0, 0, 0.25),
    inset 0 -2px 3px rgba(0, 0, 0, 0.2);
}
.submit-btn:hover {
  /* slightly higher elevation */
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.18),
    0 10px 20px rgba(242, 42, 42, 0.35);

  transform: translateY(-3px);
}

.submit-btn:active {
  /* pressed effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.signup {
  color: #c89a54;
  text-decoration: none;
  font-size: smaller;
}
.signup a {
  color: #c89a54;
  text-decoration: none;
}
