* {
}

.body {
  display: flex;
  height: 100vh;
  background: #e6e6e6;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.box-1 {
  display: flex;
  width: 50%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.img {
  width: 525px;
  margin-right: 135px;
  margin-bottom: 135px;
}
.box-2 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  /* background: #ececec; */
}
.container {
  display: flex;
  width: 450px;
  height: 550px;
  padding: 30px;
  margin-right: 60px;
  border-radius: 15px;
  background: #fcfcfc;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head {
  color: #8a8a8a;
  margin-bottom: 18px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  padding-bottom: 33px;
  font-size: 35px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}
.form {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 43px;
  margin-top: -8px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-bottom: 6px;
}
.form-group input {
  border: none;
  border-bottom: 2px solid #555;
  padding: 8px 5px;
  background: transparent;
  outline: none;
  width: 80%;
  font-size: 12px;
  color: #333;
  outline: none;
}
.password-box {
  position: relative;
}
.toggle-password {
  position: absolute;
  right: 77px;
  top: 30px;
  cursor: pointer;
  color: #777;
}
button {
  width: 40%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #c89a54;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  display: block;
  /* material-style soft shadow */
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.15),
    0 6px 12px rgba(242, 42, 42, 0.25);

  cursor: pointer;
  transition:
    box-shadow 0.25s ease,
    transform 0.25s ease,
    background-color 0.25s ease;
  box-shadow:
    0 6px 10px rgba(0, 0, 0, 0.25),
    inset 0 -2px 3px rgba(0, 0, 0, 0.2);
}
.submit-btn:hover {
  /* slightly higher elevation */
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.18),
    0 10px 20px rgba(242, 42, 42, 0.35);

  transform: translateY(-3px);
}

.submit-btn:active {
  /* pressed effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}
.bottom {
  color: #c89a54;
  text-decoration: none;
  font-size: smaller;
}
.bottom a {
  color: #c89a54;
  text-decoration: none;
}
