body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #fdf6e3, #e9d3a5, #c8a46a, #8b5a2b);
  margin: 0;
}

.cart-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* LEFT */
.cart-left {
  flex: 2;
}

.cart-title {
  margin-bottom: 20px;
}

.cart-card {
  display: flex;
  gap: 15px;
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.cart-img{
    display: flex;
}

.product-img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  flex: 1;
}

.details h3 {
  margin: 0;
}

.price {
  color: #444;
  margin: 8px 0;
  font-weight: bold;
}

/* Quantity */
.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
}

.qty-btn:hover {
  background: #ddd;
}

.qty {
  font-weight: bold;
}

/* RIGHT PANEL */
.cart-right {
  flex: 1;
  background: white;
  padding: 20px;
  margin-top: 68px;
  border-radius: 12px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.total {
  font-size: 18px;
  font-weight: bold;
}

.free {
  color: green;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #333;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }
}
